.mainNav {
  display: flex;
  justify-content: center;
}

.mainNav ul {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.mainNav ul li {
  margin: 0 1rem;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}
